# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
anonymization_ui.tar.gz

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress screenshots and videos
cypress/videos
cypress/screenshots

# storybook design system
/designsystem
/storybook-static

# npx tsc compilation
/dist-tsc