@import "../../node_modules/cosmian_ui/dist/less/variables.less";

.ant-menu-title-content {
  font-size: 0.9rem;
}

.ant-menu {
  position: fixed;
  margin-top: 60px;
  width: 100%;
}

.anonymization,
.create,
.anonymize,
.edit-view {
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5em;
  }
}
.edit-view {
  .edit-table {
    max-height: 90vh;
    overflow-y: scroll;
    .ant-checkbox-disabled .ant-checkbox-inner {
      display: none;
    }
  }
}

.create {
  .name {
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    .name {
      margin-right: 30px;
      width: 100%;
      .ant-input {
        border: 1px solid #d9d9d9;
        border-radius: 2px;
      }
    }
    .delimiter {
      font-weight: 800;
    }
  }
}

.edit-view {
  .with-box {
    width: calc(100% - 378px);
  }
}

.edit-box {
  border-left: 1px solid #d4d4d8;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  height: 100%;
  right: 0px;
  top: 60px;
  width: 378px;
  overflow-y: auto;
  z-index: 1000;
  .ant-divider-horizontal {
    margin: 10px 0px;
  }
  .ant-form {
    height: calc(100% - 200px);
    overflow: auto;
  }
  .ant-form-item {
    margin: 0px 0px 10px 0px;
    flex-grow: 1;
    label {
      font-size: 0.875rem;
    }
  }
  .box {
    background: @light-bg;
    border-radius: 4px;
    .subtitle {
      font-weight: 600;
      padding: 5px;
      color: @primary;
    }
  }
  .ant-collapse-header {
    padding: 5px 0px;
  }
  .option-parameter {
    padding-top: 10px;
    margin: 0px 5px 0px 5px;
  }
  .input-inline {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
    }
  }
  .ant-form-item-row .ant-input-number-in-form-item {
    width: 100%;
  }
  .input,
  .ant-input {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-weight: 400;
    line-height: 1.5715;
    padding: 4px 11px;
    min-height: 31px;
    text-overflow: ellipsis;
    overflow: auto;
  }
  .input::-webkit-scrollbar {
    display: none;
  }
  .input {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  button {
    margin: 5px;
  }
  .buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    height: 80px;
    width: 340px;
  }
  .horizontal-buttons {
    display: flex;
    justify-content: space-between;
    button {
      width: 50%;
    }
  }
  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
      margin: 0 0 10px 10px;
      width: 10px;
      display: flex;
      justify-content: center;
    }
  }
  .tags-list {
    margin: 10px 0px;
    .ant-tag {
      margin: 5px 2px 5px 3px;
    }
  }
  .link {
    font-size: 0.9em;
    cursor: pointer;
    color: @dark;
    text-decoration: underline;
    margin-bottom: 10px;

    &:hover {
      color: fade(@dark, 80);
    }
  }
  .inline {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    .bound {
      margin: 0px 5px;
      font-weight: 600;
    }
    .ant-input {
      border: none;
    }
    .ant-form-item {
      margin: 0px;
    }
  }
}

.ant-drawer-header {
  margin: 0px 20px;
  padding-left: 0px;
}
.ant-drawer-title {
  font-size: 1.25rem;
  font-family: Montserrat, Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .info-text {
    white-space: pre-wrap;
  }
}

textarea {
  line-height: 2rem !important;
  font-size: 1.875rem !important;
}

.main-layout {
  main {
    margin-left: 0px;
    .content {
      max-width: 1500px;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
}
